@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #282b27;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

main {
  background: #2e3a2b;
}

.nav-list {
  display: flex;
  gap: 3rem; /* Use a relative unit like rem for better scalability */
  align-items: center;
  font-weight: 600; /* Use numbers instead of strings for font-weight */
  list-style: none; /* Add this to remove bullet points */
  flex-wrap: nowrap;
}

.nav-link {
  text-shadow: 2px 2px 0 #18210f;
  color: #98b493;
  transition: color 0.3s ease; /* Add a smooth transition for the hover effect */
}

/* Correctly define the hover state */
.nav-link:hover {
  color: #d2e6cf;
}
