@import "tailwindcss";
@custom-variant hover (&:hover);

html {
  scroll-behavior: smooth;
}

:root {
  --background: #242524;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242524;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-minecraft {
  font-family: var(--font-minecraft), monospace;
}

.nav-link {
  @apply inline-block text-[#AABF9F] text-lg
         hover:text-[#d6e0d3] hover:scale-105
         transition-transform transition-colors duration-200 ease-out
         [text-shadow:1px_2px_2px_rgba(0,0,0,0.8)];
}

.green-div {
  @apply bg-[#393D39];
}

.skill-blob {
  @apply text-[#ddd8d8] text-[16px] px-3 py-1 w-auto rounded-full font-medium border-2 shadow-[0px_2px_4px_rgba(0,0,0,0.5)] transition-transform cursor-pointer hover:brightness-120 hover:scale-110 hover:text-[#292929] duration-300;
}

.button-view {
  @apply bg-[#92A38A] text-[#343C30] text-[16px] px-6 py-2 font-bold rounded-2xl shadow-md hover:bg-[#bbcdb3] transition-all duration-150;
}

@layer components {
  .button-hover {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem; /* 2 = 0.5rem */
    padding: 0.5rem 1rem; /* py-2 px-4 */
    border-radius: 0.5rem; /* rounded-lg */
    background-color: #638b5c;
    transition: background-color 0.3s ease;
  }

  .button-hover:hover {
    background-color: #98b493;
  }
}

.fit-text {
  font-size: clamp(14px, 4vw, 28px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pixel-banner {
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}

.pixel-banner::before,
.pixel-banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 26px;
  height: 22px;
  background: #aabf9f;
}

.pixel-banner::before {
  left: -10px;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 45% 40%, 45% 100%, 0 100%);
}

.pixel-banner::after {
  right: -10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%, 55% 40%, 0 40%);
}

@keyframes shimmer {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(120%);
  }
}